@import "./base_css/resets";
@import "./base_css/variables";
@import "./base_css/estructuras/grid";
@import "./base_css/estructuras/flex";
@import "./base_css/navfoot";
/*paginas*/
@import "./estilos/_pagindex";
@import "./estilos/tienda";
@import "./estilos/recetas";
@import "./estilos/preguntas";
@import "./estilos/contacto";

/*queri*/
@import "./queri/queri";


.principal{
    background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.fondoPreg{
    @extend .principal;
    
}

.fondoRecetas{
    @extend .principal;
    position: relative;
}

.fondoCon{
  @extend .fondoPreg;
}

.fondoTienda{
   
    @extend .fondoRecetas;  
}