@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

/*colores y tipografia*/
/*mixin*/
/*GRIDS*/
/*index*/
#principal__Grid {
  display: grid;
  grid-template-areas: "navegador__principal navegador__principal navegador__principal" " harinas harinas leche" " frutos almendras  leche";
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 10% 48% 45%;
  grid-column-gap: 2px;
  grid-row-gap: 15px;
  height: 100vh;
  width: auto;
  margin-top: 2px;
  margin-left: 30px;
}

.navegador__principal {
  grid-area: navegador__principal;
}

.harinas {
  grid-area: harinas;
}

.leche {
  grid-area: leche;
}

.frutos {
  grid-area: frutos;
}

.almendras {
  grid-area: almendras;
}

/*GRID contactos*/
#GridContact {
  display: grid;
  grid-template-areas: "nav_contacto   nav_contacto" "section       listaCont" "footer       footer";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 12% 73% 10%;
  height: 100vh;
  margin: 0;
}

.nav_contacto {
  grid-area: nav_contacto;
}

.listaCont {
  grid-area: listaCont;
}

.sectionC {
  grid-area: section;
}

.footer_contacto {
  grid-area: footer;
}

.principal__footer {
  grid-area: footer;
}

/*preguntas¨*/
.preguntas {
  grid-area: section;
}

/*index*/
.navegador__listaUno {
  display: flex;
  justify-content: center;
  align-items: center;
}

.harinas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.harinas__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.harinas__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leche {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leche__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leche__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frutos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frutos__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frutos__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.almendras {
  display: flex;
  justify-content: center;
  align-items: center;
}
.almendras__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.almendras__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal__footer__list, .recetas__footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*flex tienda*/
.fondoTienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promociones__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerTien__lista {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*pagina recetas*/
.fondoRecetas {
  display: flex;
  flex-direction: column;
}

.Flex_Card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*contacto*/
.listaCont {
  display: flex;
  justify-items: center;
  align-items: center;
}

.contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacto__listaDos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: rgba(12, 128, 6, 0.7333333333);
}

.navbar-brand {
  color: #99f681;
  font-weight: bolder;
  font-size: 2rem;
}

.offcanvas {
  background-color: rgba(12, 128, 6, 0.7333333333);
  font-weight: bolder;
  font-size: 1.2rem;
}

.offcanvas-title, .nav-link {
  color: #99f681;
}

/*footer pricipal*/
.principal__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  margin-top: auto;
  background-color: rgba(12, 128, 6, 0.7333333333);
}
.principal__footer__list, .recetas__footer__list {
  list-style: none;
}
.principal__footer__link {
  text-decoration: none;
  color: #99f681;
}

/*footer tienda*/
.footerTien {
  background-color: rgba(12, 128, 6, 0.7333333333);
  padding: 10px 10px;
  margin-top: auto;
}
.footerTien__lista {
  list-style: none;
  height: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 60px;
}
.footerTien__lista__link {
  color: #99f681;
}

/*footer recetas*/
.recetas__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  margin-top: auto;
  background-color: rgba(12, 128, 6, 0.7333333333);
}
.recetas__footer__list {
  list-style: none;
}
.recetas__footer__link {
  text-decoration: none;
  color: #99f681;
}

/*paginas*/
/*pagina principal*/
.principal {
  position: relative;
}

.harinas {
  border: 3px solid #f6a93e;
}
.harinas__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.harinas__caja__img {
  width: 100%;
  height: 100%;
}
.harinas__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.harinas__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.leche {
  border: 3px solid #f6a93e;
}
.leche__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.leche__caja__img {
  width: 100%;
  height: 100%;
}
.leche__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.leche__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.frutos {
  border: 3px solid #f6a93e;
}
.frutos__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.frutos__caja__img {
  width: 100%;
  height: 100%;
}
.frutos__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.frutos__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.almendras {
  border: 3px solid #f6a93e;
}
.almendras__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.almendras__caja__img {
  width: 100%;
  height: 100%;
}
.almendras__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.almendras__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.AcercaDeNosotros {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}
.AcercaDeNosotros__parrafo {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: white;
}

.AcercaDeNosotros__icono {
  padding: 10px 10px;
  text-align: center;
  color: #f6a93e;
}
.AcercaDeNosotros__icono__parrafo {
  text-align: center;
  padding-bottom: 20px;
  color: #f6a93e;
  font-size: 1.2rem;
}

/*pagina tienda*/
.carousel h5, p {
  color: #a12416;
  font-weight: bolder;
}

.carousel img {
  height: 600px;
}

.cuerpo {
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 30px;
}

.tienda__titulo {
  text-align: center;
  margin-top: 10px;
  color: #f6a93e;
  text-transform: uppercase;
  text-decoration: underline;
}

.promociones {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  background-color: rgba(138, 249, 33, 0.5803921569);
}
.promociones__link {
  text-decoration: none;
  color: #f6a93e;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  padding-top: 40px;
}
.promociones__parrafo {
  color: #f6a93e;
  text-align: center;
}

/*pagina recetas*/
.recetas_tarjetas {
  box-shadow: 6px 5px 5px rgba(246, 141, 54, 0.5764705882);
  margin-top: 3rem;
}

.recetas_tarjetas:hover {
  transform: translateY(40px);
}

/*preguntas*/
.preguntas {
  padding-top: 6rem;
  color: #f6a93e;
}

/*pagima contactos*/
.fondoCon {
  position: relative;
}

.sectionC {
  margin-top: 1rem;
  height: 100%;
  width: auto;
}

legend {
  color: white;
  border: 2px solid #369d2a;
  width: 19rem;
  font-size: 100%;
  font-style: italic;
  background-color: #95a131;
  padding: 10px;
}

fieldset {
  padding: 20px 20px;
}

.contacto__listaUno {
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  color: white;
}
.contacto__listaUno__titulo {
  text-transform: uppercase;
  color: rgba(12, 128, 6, 0.7333333333);
  font-weight: bolder;
}

.contacto__listaDos {
  list-style: none;
  background-color: rgba(12, 128, 6, 0.7333333333);
}
.contacto__listaDos__link {
  padding: 40px 40px;
  text-transform: none;
  color: #99f681;
}

/*queri*/
/*media queri index*/
@media screen and (max-width: 576px) {
  #principal__Grid {
    grid-template-areas: "navegador__principal" "harinas" "leche" "frutos" "almendras";
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 20% 20%;
    height: auto;
    margin-left: none;
  }
  .container-fluid {
    margin-top: 3rem;
  }
  .AcercaDeNosotros {
    margin-top: 2rem;
  }
  .AcercaDeNosotros__parrafo {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px 20px;
  }
}
/*media queri tienda*/
@media screen and (max-width: 768px) {
  .cuerpo {
    flex-direction: column;
  }
  .tienda__titulo {
    padding: 30px 30px;
  }
  .carousel {
    display: none;
  }
  .promociones__link {
    color: green;
    font-size: 1.5rem;
  }
  .promociones__parrafo {
    color: black;
  }
  /*mediaqueri contacto */
  #GridContact {
    display: grid;
    grid-template-areas: "nav_contacto" "section" "listaCont" "footer";
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto auto;
    height: 200vh;
    margin: 0;
  }
  fieldset {
    width: 90%;
    padding: none;
  }
  .listaCont {
    transition: all 2s;
  }
  .listaCont:hover {
    background-color: orange;
  }
  .sectionC {
    width: 90%;
    height: 90%;
  }
  .contacto__listaUno {
    text-align: start;
  }
  .contacto__listaUno__titulo {
    text-align: center;
  }
  .principal__footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 900px) {
  .Flex_Card {
    flex-direction: column;
  }
  .recetas__footer {
    display: none;
  }
}
.principal {
  background-image: url(../img/lettuce-ga2b64e7d7_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.fondoPreg, .fondoCon {
  background-image: url(../img/autumn-g97ccd2e21_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.fondoRecetas {
  background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.fondoTienda {
  background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
}/*# sourceMappingURL=style.css.map */