
/*GRIDS*/
/*index*/

#principal__Grid{
    display: grid;
    grid-template-areas:
                    "navegador__principal navegador__principal navegador__principal"
                 " harinas harinas leche"
                 " frutos almendras  leche";
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 10% 48% 45%;
    grid-column-gap: 2px;
    grid-row-gap: 15px;
    height: 100vh;
    width: auto;
    margin-top: 2px;
    margin-left: 30px;
}

.navegador__principal{
    grid-area: navegador__principal;
}
.harinas {
    grid-area: harinas;
}

.leche {
    grid-area: leche;
}

.frutos {
    grid-area: frutos;
}

.almendras {
    grid-area: almendras;
}


/*GRID contactos*/
#GridContact {
    display: grid;
    grid-template-areas:
        "nav_contacto   nav_contacto"
        "section       listaCont"
        "footer       footer";
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 12% 73% 10%;
    height: 100vh;
    margin: 0;
}


.nav_contacto {
    grid-area: nav_contacto;
}

.listaCont{
    grid-area: listaCont;
}
.sectionC{
    grid-area: section;
}

.footer_contacto {
    grid-area: footer;
}
.principal__footer{
    grid-area: footer;
}

/*preguntas¨*/
.preguntas{
    grid-area: section;
}