/*index*/
.navegador__listaUno{

    @include flex-center-center;
   
}

.harinas {
   @include flex-center-center;
   &__caja{
    @include flex-center-center;
     &__capa{
        @include flex-center-center;
     }
   }
    
}

.leche {
@include flex-center-center;
&__caja{
    @include flex-center-center;
     &__capa{
        @include flex-center-center;
     }
   }
}

.frutos {
 @include flex-center-center;
 &__caja{
    @include flex-center-center;
     &__capa{
        @include flex-center-center;
     }
   }
}

.almendras {
    @include flex-center-center;
    &__caja{
        @include flex-center-center;
         &__capa{
            @include flex-center-center;
         }
       }
}
.principal__footer__list{
    @include flex-center-space;
}

/*flex tienda*/
.fondoTienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cuerpo {
    @include flex-center-center;
    
}



.promociones__link{
    @include flex-center-center;
}

.footerTien__lista {
    @include flex-space-stretch;
}
/*pagina recetas*/
.fondoRecetas{
    display: flex;
    flex-direction: column;
}
.Flex_Card {
    @include flex-center-space;
}




/*contacto*/
.sectionC{
    @include flex-center-center;
}
.contacto{
    @include flex-center-space;
}

.contacto__listaDos{
    @include flex-center-center;
}