/*index*/
.navegador__listaUno{

    @include flex-center-center;
   
}

.harinas {
   @include flex-center-center;
    
}

.leche {
@include flex-center-center;
}

.frutos {
 @include flex-center-center;
}

.almendras {
    @include flex-center-center;
}

.fondoTienda {
    display: flex;
    flex-direction: column;
}

.fondoRecetas {
    display: flex;
    flex-direction: column;
}

.cuerpo {
    @include flex-center-center;
}

.promociones a {
    @include flex-center-center;
}

.Tienda_listaDos {
    @include flex-center-center;
}

.Flex_Card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listaCont {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}
