


/*media queri index*/

@media screen and ( max-width: 720px) {
    #padre{
        display: grid;
        grid-template-areas: 
                               "header_titulo " 
                               " navegador"
                               "section "
                               "section";
        grid-template-columns: 1fr; 
        grid-template-rows: 10% 10% 2fr 1fr; 
        height: 100vh;
        margin: 0;
    }
    
    #Tienda_productos{
        display: grid;
        grid-template-areas: "harinas harinas leche"
                             "frutos almendras  leche";
        grid-template-columns: repeat(3,30%);
        grid-template-rows: repeat(3, 100%);
        justify-items: center;
        align-items: center;
        height: 250px;
    
    }



    .header_titulo h1{
        font-size: 120%;
        font-weight: bolder;
        margin-top: 8px;
        
        
    }

    .navegador{
        grid-area: navegador;
        background-color:#67cd3c6e;
        border-right: none;
        border-radius: 4px;
        flex-wrap: wrap;
        height: 30px;
    


    }
    
    .listaUno{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: none;
        list-style: none;
        font-size: 100%;
        background-color:#f2cd4f;
        border-radius: 4px;
        flex-wrap: wrap;
    }
    .lista_item{
        text-decoration: none;
        color:#9c0303;
        padding: 5px 5px;
    }
    
    
    .listaDos{
    display: none;
    }
    

    
    .section{
        grid-area: section;       
        font-size: 100%;
        line-height: 1.5;

    }
    

}
/*tienda*/

.fondoTienda{
    background-color: #f2cc4f88;
    background-size: cover;
    background-image: url(../img/fondodefinitivo.webp);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.Tienda_header{
    background-color:#95f33c94;;
    border-bottom: 4px outset;
    width: 100%;
}
.navbar-brand{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    color:#f68b36;
 
}


.nav-link {
    color:#f03828;
    font-size: 120%;
}

.carousel h5 , p{
    color: black;
}
.carousel img{
    height:650px;
}
.cuerpo{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 10px;
   gap: 30px;
  
}
.titulo{
    text-align: center;
    margin-top: 10px;
}

.promociones{
 height: 200px;
 width: 100%;
 margin-top: 20px;
 background-color: #013b0f;
}

.promociones a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: wheat;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    padding-top: 40px;
    

}

/*footer de tienda y recetas*/
.Tienda_listaDos{
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    list-style: none;
    height: 20px;
    width: 100%;
    border-radius: 4px;
    }
.Tienda_listaDos{
    padding: 10px 60px;
}

    .footer{
        
        background-color:#f2cc4fb9;
        padding: 10px 10px;
        margin-top: auto;
    
    }

  
    /*contacto*/


    fieldset{
       
        width: 500px;
        padding: 20px 20px;
        margin-left: 10px;

    }
    .sectionC:hover{
        background-color: #f2cd4f;
    }
    legend{
        color: #f03828;
        font-weight: bold;
        font-size: 100%;
        font-style: italic;
        background-color: #f68d3678;
        padding: 10px;
    }
   .footer_contacto{
    grid-area: footer;
    background-color:#f2cd4f;
    position: absolute;
    bottom: 0;
    width: 100%;
   }
   .listaCont{
    display: flex;
    justify-content: space-around;
    align-content:stretch;
    list-style:none;
   }
    /*media queri contacto*/
    @media screen and ( max-width: 768px) {
    .fondo{
        height: auto;
    }
}

.contacto{
    height: 100%;


}
.listaUnocontacto{
    list-style: none;
    text-align: center;
    line-height: 2;
    height: 100%;
    padding-top: 30px;
}

.listaDoscontacto {
    margin-top: 40px;
    height: 100%;
    width: 100%;

    text-decoration: none;
    list-style: none;
    display: flex;
    
}

