*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
/*body de index*/
 
.fondo{
    background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

#padre{
    display: grid;
    grid-template-areas: 
                           "header   section"
                           "nav      section"
                           "nav      section";
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 5fr 10%; 
    height: 100vh;
    margin: 0;
}

.header_titulo {
    grid-area: header;
    background-color:#8af92194;
    border-right: 8px outset white;
 
}

.header_titulo h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 180%;
    text-align: center;
    font-style: italic;
    margin-top: 10%;
    color:#f68b36;
}
 /*navegador index*/

.navegador{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color:#8af92194;
    border-right: 8px outset white; 
    height: 100vh;
}

.listaUno{
    list-style: none;
    font-size: 150%;
    line-height: 2;
}
.lista_item{
    text-decoration: none;
    color:#ef4335;
    padding: 30px 30px;
}

.lista_item:hover{
    background-color: #f2cd4f;
    padding: 10px 10px;
    border-radius: 30px;
}

.listaDos{
display: flex;
justify-content: center;
align-items:center;
list-style: none;
height: 30px;
background-color:#f2cd4f;
border-radius: 4px;
}

.lista_item_iconos{
    color: #ef4335;
    padding: 30px 30px;
}

.section{
    grid-area: section;
    height: auto;
    width: auto;
    margin-top: 30px;
}
/*media queri index*/

@media screen and ( max-width: 720px) {
    #padre{
        display: grid;
        grid-template-areas: 
                               "header_titulo " 
                               " navegador"
                               "section "
                               "section";
        grid-template-columns: 1fr; 
        grid-template-rows: 10% 10% 2fr 1fr; 
        height: 100vh;
        margin: 0;
    }
    
    .header_titulo {
        grid-area: header_titulo;
        background-color:#67cd3c6e;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
      
    }

    .header_titulo h1{
        font-size: 120%;
        font-weight: bolder;
        margin-top: 8px;
        
        
    }

    .navegador{
        grid-area: navegador;
        background-color:#67cd3c6e;
        border-right: none;
        border-radius: 4px;
        flex-wrap: wrap;
        height: 30px;
    


    }
    
    .listaUno{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: none;
        list-style: none;
        font-size: 100%;
        background-color:#f2cd4f;
        border-radius: 4px;
        flex-wrap: wrap;
    }
    .lista_item{
        text-decoration: none;
        color:#9c0303;
        padding: 5px 5px;
    }
    
    
    .listaDos{
    display: none;
    }
    

    
    .section{
        grid-area: section;       
        font-size: 100%;
        line-height: 1.5;

    }
    

}
/*tienda*/

.fondoTienda{
    background-color: #f2cc4f88;
    background-size: cover;
    background-image: url(../img/fondodefinitivo.webp);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.Tienda_header{
    background-color:#95f33c94;;
    border-bottom: 4px outset;
    width: 100%;
}
.navbar-brand{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    color:#f68b36;
 
}


.nav-link {
    color:#f03828;
    font-size: 120%;
}
.carousel{
    margin-top: 20px;
}
.carousel h5 , p{
    color: black;
}
.carousel img{
    height:400px;
}

.contenedorGrid{
 height: 70px;
 color: wheat;
 padding: 20px 20px;
 margin-left: 110px;
}

.contenedorGrid h4{
    background-color: #0187227d;
    font-weight: bolder;
    padding: 10px 10px;

}

#Tienda_productos{
    display: grid;
    grid-template-areas: "harinas harinas leche"
                         "frutos almendras  leche";
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(3, 100%);
    justify-items: center;
    align-items: center;
    height: 250px;

}

.harinas{
    grid-area: harinas;
    background-image: url(../img/harinas.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    border: 2px solid rgb(10, 129, 53);
    

}

.harinas_capa{
    transition: all 1s ease-out;
    opacity: 0;
   
}
.harinas_capa:hover{
    opacity: 1;
    margin-top: 50px;
}

.leche{
    grid-area: leche;
    background-image: url(../img/bebidavegetal.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    border: 2px solid rgb(10, 129, 53);
    
}

.leche_capa{
    transition: all 1s ease-out;
    opacity: 0;
    
}


.leche_capa:hover{
    opacity: 1;
    margin-top: 50px;
}

.frutos{
    grid-area: frutos;
    background-image: url(../img/frutossecos.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    border: 2px solid rgb(10, 129, 53);
}

.frutos_capa{
    transition: all 1s ease-out;
    opacity: 0;
}

.frutos_capa:hover{
    opacity: 1;
    margin-top: 50px;
}

.almendras{
    grid-area: almendras;
    background-image: url(../img/harinaalmenrdas.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    border: 2px solid rgb(10, 129, 53);
}
.almendras_capa{
    transition: all 1s ease-out;
    opacity: 0;
}
.almendras_capa:hover{
    opacity: 1;
    margin-top: 50px;
}
/*footer de tienda y recetas*/
.Tienda_listaDos{
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    list-style: none;
    height: 20px;
    width: 100%;
    border-radius: 4px;
    }
.Tienda_listaDos{
    padding: 10px 60px;
}

    .footer{
        
        background-color:#f2cc4fb9;
        padding: 10px 10px;
        margin-top: auto;
    
    }

    /*media queri tienda*/

@media screen and ( max-width: 768px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
    }

    .fondoTienda{
        background-color: #f2cc4f88;
        background-size: cover;
        background-image: none;
        
    }
    
    .footer{
        display: none;
    }
}
 /*Recetas*/
    .fondoRecetas{
        background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

     

    }
    .Flex_Card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        
    }

    .card{
        box-shadow:6px 5px 5px #f68d3693 ;
    }

    .card:hover{
        transform: translateY(40px);
    }

    .card h5{
        font-family: 'Montserrat Alternates', sans-serif;
       font-size: 120%;
        font-weight: bolder;
        color: #018722;
        text-align: center;
    }
/*media queri recetas*/

  @media screen and ( max-width: 768px)  {

    .fondoRecetas{
        background-color: #044a15a3;
        background-image:url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
        background-size: cover;
        height: auto;
    }
       

    .Flex_Card{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: none;
        
        
    }
  }

    /*contacto*/

    .fondoCon{
        background-image: url(../img/fondodefinitivo.webp);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
     #GridContact{
            display: grid;
            grid-template-areas: 
                                   "nav      section"
                                   "nav      section"
                                   "nav      footer";
            grid-template-columns: 1fr 5fr; 
            grid-template-rows: 1fr 5fr 5%; 
            height: 100vh;
            margin: 0;
        }
    
    .nav_contacto{
        grid-area: nav;
        background-color:#67cd3c6e;
        border-right: 8px outset white

       
    }
    .nav_contacto h1{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 180%;
        text-align: center;
        font-style: italic;
        margin-top: 10%;
        color:#f68b36;
        padding: 20px 20px;
    }

    .sectionC{
        width: 400px;
        height: 200px;
        transition: all 4s;
       margin-top: 40px;
       margin-left: 40px;
    }
    .sectionC:hover{
        width: 600px;
        height: 500px;
        background-color: #f2cd4f;
        margin-left: 40px;
    }
    legend{
        color: #f03828;
        font-weight: bold;
        font-size: 100%;
        font-style: italic;
        background-color: #f68d3678;
        padding: 10px;
    }
   .footer_contacto{
    grid-area: footer;
    background-color:#f2cd4f;
    position: absolute;
    bottom: 0;
    width: 100%;
   }
   .listaCont{
    display: flex;
    justify-content: space-around;
    align-content:stretch;
    list-style:none;
   }
    /*media queri contacto*/
    @media screen and ( max-width: 768px) {
    .fondo{
        height: auto;
    }
}

