
.navbar{
    background-color:$color-footer-secundario;
}

.navbar-brand{
    color:$bg-colorver;
    font-weight: bolder;
    font-size: 2rem;
}

.offcanvas{
    background-color:$color-footer-secundario;
    font-weight: bolder;
    font-size: 1.2rem;
}

.offcanvas-title{
    color:$color-basico4;
}

.nav-link{
    @extend .offcanvas-title;
}