/*colores*/
$bgcolor-basico :#8af92194;
$color-basico2 :#f68b36;
$color-basico3 :#f03828;
$color-basico4 :white;
$color-footer-principal :#f2cd4f;
$color-footer-secundario :#f2cc4fb9;
$border-verde :2px solid rgb(10, 129, 53);
$letra-secundaria :'Montserrat Alternates', sans-serif;
$border-8pxwhite:8px outset white; 

