/*colores y tipografia*/

$colornaran:#f6a93e;
$bgcolor-basico :#8af92194;
$color-basico2 : #a12416;
$color-basico3 :#99f681;
$color-basico4 :white;
$color-titulo:#95a131;
$color-navbar :#0c8006bb;
$border-verde :2px solid #369d2a;
$border-naran:3px solid #f6a93e;
$letra-secundaria :'Montserrat Alternates', sans-serif;
$tipografiasecundaria:'Montserrat Alternates', sans-serif; 

/*mixin*/

@mixin flex-center-center {
    display: flex;
    justify-content:center;
    align-items:center;
}

@mixin flex-center-space{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
@mixin flex-space-stretch{
    display: flex;
    justify-content: space-around;
     align-items:stretch;
}
@mixin caja-principal {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@mixin capa-principal{
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    flex-direction: column;
    transition: all 1s ease-out;
    opacity: 0;
    color: rgb(6, 92, 6);
}

@mixin hover-capa-principal{
    opacity: 1;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 3rem;
    font-weight: bolder;
}

