

/*media queri index*/

@media screen and ( max-width: 576px) {
    
    #principal__Grid{
        grid-template-areas: "navegador__principal"
                              "harinas"
                              "leche"
                             "frutos"
                             "almendras";
        grid-template-columns: 100%;
        grid-template-rows:10% 20% 20% 20%;
        height: auto;
        margin-left: none;
        
    }

     .container-fluid{
        margin-top: 3rem;
     }

    .AcercaDeNosotros{
        margin-top: 2rem;
       &__parrafo{ text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 20px 20px;}
    }
}
/*media queri tienda*/
  
@media screen and ( max-width: 768px) {
    .cuerpo{
        flex-direction: column;
        
    }
    .tienda__titulo{
        padding:30px 30px;
       
     }
    
    .carousel {
        display: none;
    }

    .promociones{
        &__link{
            color:green;
            font-size: 1.5rem;
        }
        &__parrafo{
           color: black; 
        }
    }

    /*mediaqueri contacto */
    #GridContact {
        display: grid;
        grid-template-areas:
            "nav_contacto "
            "section   "
            " listaCont"
            "footer  ";
    grid-template-columns: auto;
    grid-template-rows: 22% auto auto;
        height: 100vh;
        margin: 0;
    }

 fieldset{
    width:90%;
    padding: none; 
}
.listaCont{
    transition: all 2s;

}
.listaCont:hover{
    background-color: orange;
}
.sectionC{
  width: 90%;
  height: 90%;
}
.contacto__listaUno{
    text-align: start;
    &__titulo{
        text-align: center;
    }
}
}


@media screen and ( max-width: 900px)  {

    .fondoRecetas{
        background-color: #044a15a3;
        background-image:none;
        background-size: cover;
        height: auto;
    }
       

    .Flex_Card{
        flex-direction: column;

    }

    .recetas__footer{
         display: none;
   }




} 


