* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

/*colores*/
/*mixin*/
/*GRIDS*/
/*index*/
#principal__Grid {
  display: grid;
  grid-template-areas: "navegador__principal navegador__principal navegador__principal" " harinas harinas leche" " frutos almendras  leche";
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 10% 48% 45%;
  grid-column-gap: 2px;
  grid-row-gap: 15px;
  height: 100vh;
  width: auto;
  margin-top: 2px;
  margin-left: 30px;
}

.navegador__principal {
  grid-area: navegador__principal;
}

.harinas {
  grid-area: harinas;
}

.leche {
  grid-area: leche;
}

.frutos {
  grid-area: frutos;
}

.almendras {
  grid-area: almendras;
}

/*GRID contactos*/
#GridContact {
  display: grid;
  grid-template-areas: "nav      section" "nav      section" "nav      footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr 5%;
  height: 100vh;
  margin: 0;
}

.nav_contacto {
  grid-area: nav;
}

.footer_contacto {
  grid-area: footer;
}

/*index*/
.navegador__listaUno {
  display: flex;
  justify-content: center;
  align-items: center;
}

.harinas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.harinas__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.harinas__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leche {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leche__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leche__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frutos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frutos__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frutos__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.almendras {
  display: flex;
  justify-content: center;
  align-items: center;
}
.almendras__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
.almendras__caja__capa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal__footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fondoTienda {
  display: flex;
  flex-direction: column;
}

.fondoRecetas {
  display: flex;
  flex-direction: column;
}

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promociones a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tienda_listaDos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flex_Card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listaCont {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}

/*media queri index*/
@media screen and (max-width: 576px) {
  #principal__Grid {
    grid-template-areas: "navegador__principal" "harinas" "leche" "frutos" "almendras";
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 20% 20%;
    height: auto;
    margin-left: none;
  }
  .container-fluid {
    margin-top: 3rem;
  }
  .AcercaDeNosotros {
    margin-top: 2rem;
  }
  .AcercaDeNosotros__parrafo {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px 20px;
  }
}
.principal {
  background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.navegador__principal {
  background-color: rgba(138, 249, 33, 0.5803921569);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #f68b36;
  width: 100%;
  height: 40px;
}

.navegador__listaUno {
  border-right: 8px outset white;
  list-style: none;
  margin-top: 5px;
}
.navegador__listaUno__link {
  text-decoration: none;
  color: #f03828;
  padding: 20px 10px;
  font-weight: bolder;
  height: 100%;
}
.navegador__listaUno__link:hover {
  background-color: #f68b36;
  border-radius: 20px;
}

.harinas {
  border: 2px solid rgb(10, 129, 53);
}
.harinas__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.harinas__caja__img {
  width: 100%;
  height: 100%;
}
.harinas__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.harinas__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.leche {
  border: 2px solid rgb(10, 129, 53);
}
.leche__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.leche__caja__img {
  width: 100%;
  height: 100%;
}
.leche__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.leche__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.frutos {
  border: 2px solid rgb(10, 129, 53);
}
.frutos__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.frutos__caja__img {
  width: 100%;
  height: 100%;
}
.frutos__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.frutos__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.almendras {
  border: 2px solid rgb(10, 129, 53);
}
.almendras__caja {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.almendras__caja__img {
  width: 100%;
  height: 100%;
}
.almendras__caja__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 80%;
  flex-direction: column;
  transition: all 1s ease-out;
  opacity: 0;
  color: rgb(6, 92, 6);
}
.almendras__caja__capa:hover {
  opacity: 1;
  margin-top: 50px;
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.AcercaDeNosotros {
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
}
.AcercaDeNosotros__parrafo {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 20px;
}

.principal__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(242, 204, 79, 0.7254901961);
}
.principal__footer__list {
  list-style: none;
}
.principal__footer__link {
  text-decoration: none;
  color: #f03828;
}

.navbar-brand {
  color: #f68b36;
  font-weight: bolder;
}

.nav-link {
  color: #f03828;
}/*# sourceMappingURL=style.css.map */