@import "./base_css/resets";
@import "./base_css/variables";
@import "./estructuras/grid";
@import "./base_css/typografia";
@import "./estructuras/flex";
@import "./queri/queri";




.principal{
    background-image: url(../img/marmol-blanco-producto-cuadrado1-47cea21eea4f170d2516578998766752-1024-1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

.navegador__principal{
        background-color:$bgcolor-basico;
        font-family:$letra-secundaria;
        font-size: 1rem;
        font-style: italic;
        color:$color-basico2;
        width: 100%;
        height: 40px;
}
.navegador__listaUno{
    border-right:$border-8pxwhite;
    list-style: none;
    margin-top: 5px;
    &__link{
        text-decoration: none;
        color: $color-basico3;
        padding: 20px 10px;
        font-weight: bolder;
        height: 100%;
        &:hover{
        background-color: $color-basico2;
        border-radius: 20px;
        }


    }
}

.harinas{
   border:$border-verde;
   &__caja{
    @include caja-principal;
     &__img{
        width: 100%;
        height: 100%;
     }

     &__capa{
        @include capa-principal;
        }
    &__capa:hover{
        @include hover-capa-principal;

    }


   }
 
}
.leche { 
    border:$border-verde;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
}
}

.frutos {
    border:$border-verde;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
  
    }
}

.almendras {
    border:$border-verde;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
    }
}

.AcercaDeNosotros{
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
    text-transform: uppercase;
    font-family:$tipografiasecundaria;

    &__parrafo{
        text-align: center;
        font-size: 1.5rem;
        padding: 20px 20px;
    }
}
.principal__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:$color-footer-secundario;
    &__list {
        list-style: none;
    
    }
    &__link{
        text-decoration: none;
        color:$color-basico3;
    }
}

.navbar-brand{
    color:$color-basico2;
    font-weight: bolder;
}
.nav-link{
    color:$color-basico3;
}