/*preguntas*/

.preguntas{
    padding-top: 2rem;
    color:#d8e200;
    font-weight: bolder;
  
    }
 .preguntas:hover{
        background-color: $color-basico4;
    }


    .AcercaDeNosotros{
    @extend .preguntas;
   
    }