/*pagina recetas*/


.recetas_tarjetas{
    box-shadow:6px 5px 5px #f68d3693 ;
    margin-top: 3rem;
}

.recetas_tarjetas:hover{
    transform: translateY(40px);
}

.card-text{
    color: $colornaran;
}

.card-title{
    color: $color-basico4;
    background-color:$color-titulo;
    text-align: center;
    border-radius: 4px;
}