

/*pagina tienda*/

.carousel h5 , p{
    color:$color-basico2;
    font-weight: bolder;
    
}
.carousel img{
    height:600px;
}


.cuerpo{
   margin-top: 20px;
   margin-bottom: 10px;
   gap: 30px;
  
}
.tienda__titulo{
    text-align: center;
    margin-top: 10px;
    color:$colornaran;
    text-transform: uppercase;
    text-decoration: underline;
}

.promociones{
 height: 200px;
 width: 100%;
 margin-top: 20px;
 background-color:$bgcolor-basico;
     &__link{
    text-decoration: none;
    color:$colornaran;
    text-transform: uppercase;
    font-family:$tipografiasecundaria;
    font-size: 3rem;
    padding-top: 40px;
   
}
    &__parrafo{
        color:$colornaran;
        text-align: center;
       
    }

    

}
