
/*pagina principal*/

.principal{
    position: relative;   
}


.harinas{
   border:$border-naran;
   &__caja{
    @include caja-principal;
     &__img{
        width: 100%;
        height: 100%;
     }

     &__capa{
        @include capa-principal;
        }
    &__capa:hover{
        @include hover-capa-principal;

    }


   }
 
}
.leche { 
    border:$border-naran;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
}
}

.frutos {
    border:$border-naran;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
  
    }
}

.almendras {
    border:$border-naran;
    &__caja{
        @include caja-principal;
         &__img{
            width: 100%;
            height: 100%;
         }
    
         &__capa{
            @include capa-principal;
            }
        &__capa:hover{
            @include hover-capa-principal;
    
        }
    }
}

.AcercaDeNosotros{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    text-transform: uppercase;
    font-family:$tipografiasecundaria;
    color:$color-basico4;
    &__parrafo{
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: $color-basico4;
    }
}

.AcercaDeNosotros__icono{
    padding: 10px 10px;
    text-align: center;
    color: $colornaran;
    &__parrafo{
        text-align: center;
        padding-bottom: 20px;
        color:$colornaran;
        font-size: 1.2rem;
    }
}
