

/*pagina tienda*/




.carousel{
    margin-top: 2rem;
}
.carousel h5 , p{
    color: black;
}
.carousel img{
    height:600px;
}


.cuerpo{
   margin-top: 20px;
   margin-bottom: 10px;
   gap: 30px;
  
}
.tienda__titulo{
    text-align: center;
    margin-top: 10px;
    color:$bg-colorver;
}

.promociones{
 height: 200px;
 width: 100%;
 margin-top: 20px;
border:$border-verde;
     &__link{
    text-decoration: none;
    color: wheat;
    text-transform: uppercase;
    font-family:$tipografiasecundaria;
    font-size: 3rem;
    padding-top: 40px;
   
}
    &__parrafo{
        color:wheat;
        text-align: center;
       
    }

    

}
 .footerTien{
        background-color:#f2cc4fb9;
        padding: 10px 10px;
        margin-top: auto;
        &__lista{
            list-style: none;
            height: 20px;
            width: 100%;
            border-radius: 4px;
            padding: 10px 60px;
        &__link{
            color:$color-basico3;
        }
    }
    
    }